* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'League Spartan';
}


.container .logo a img {
    width: 200px;
    font-weight: bold;
    margin: auto;
    color: white;
}

.container .logo a {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;

}

.logo {
    margin: auto;
}

body {
    background-color: black !important;
}

.container {
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 20px;
    width: 1230px;
}

.container-fluid {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.news {
    position: absolute;
    top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.news a {
    background-color: #E54B4B;
    border: #C33939 !important;
}

.news a:hover {
    background-color: white;
    color: #C33939;
    border: #C33939 !important;
}